**/*.js
node_modules
build
/src/react-app-env.d.ts
./src/assets
node_modules
.prettierignore
public
.editorconfig
.gitignore
.env*
.eslint*
package.json
prettier.config.json
README.md
tsconfig.json
yarn*
yarn-error.log